<html>
<head>
    <title>Team 13</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">

    <script src="/static/js/vendors/jquery.js"></script>
    <script src="/static/js/vendors/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
</head>

<body background = "/static/image/bg.jpg">


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
           <div id="button" class="btn navbar-btn navbar-left"><a style="text-decoration: none" href="/">TEAM 13</a></div>
          <div id="button" class="btn navbar-btn navbar-left"><a style="text-decoration: none" href="#" id="list">Scheduled Posts</a></div>
        </div>
        <div class="collapse navbar-collapse">

            <div id="fb-login" type="button" class="btn btn-primary navbar-btn"><i class="fa fa-facebook"></i> | Sign in</div>
            <div id="fb-logout" type="button" class="btn btn-primary navbar-btn" style="display:none"><i class="fa fa-facebook"></i> | Logout</div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </body>